name: Testing Pipeline

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm install

      - name: Start Application Server
        run: |
          npm run start &
          npx wait-on http://localhost:3000 --timeout 60000

      - name: Run Smoke Tests
        run: npm run smoke

      - name: Run Functional Tests
        run: npm run functional

      - name: Run Regression Tests
        run: npm run regression

      
